In [1]:
import pandas as pd 
#import numpy as np 
import dask
import dask.dataframe as dd
from dask.distributed import Client
import glob

In [2]:
client = Client(n_workers = 8)

In [3]:
client

In [4]:


# Read in hopteaming using Dask

# Hopteaming Dask

In [5]:
hopteaming = dd.read_csv('DocGraph_Hop_Teaming_2017_Non_Commercial/DocGraph_Hop_Teaming_2017.csv')

In [6]:
# filter hopteaming


hopteaming = hopteaming[(hopteaming['transaction_count'] > 50) & (hopteaming['average_day_wait'] < 50)]

In [7]:
%time hopteaming = hopteaming.compute()

CPU times: user 13.2 s, sys: 6.72 s, total: 19.9 s
Wall time: 1min 39s

In [8]:


# Read in the smaller dataframes

# NPI

In [9]:
NPPES_o = dd.read_csv('NPPES_Data_Dissemination_February_2020/npidata_pfile_20050523-20200209.csv', dtype = 'str')

In [10]:
# pd.set_option('display.max_columns', None)

In [34]:
NPPES = pd.read_csv('NPPES_Data_Dissemination_February_2020/npidata_pfile_20050523-20200209.csv', 
                    usecols = ['NPI', 'Entity Type Code', 'Provider Business Mailing Address State Name', 'Provider Business Mailing Address Postal Code',
       'Healthcare Provider Taxonomy Code_1',
       'Healthcare Provider Taxonomy Group_2', 
       'Healthcare Provider Taxonomy Group_3', 
       'Healthcare Provider Taxonomy Group_4', 
       'Healthcare Provider Taxonomy Group_5', 
       'Healthcare Provider Taxonomy Group_6', 
       'Healthcare Provider Taxonomy Group_7',
       'Healthcare Provider Taxonomy Group_8',
       'Healthcare Provider Taxonomy Group_9',
       'Healthcare Provider Taxonomy Group_10',
       'Healthcare Provider Taxonomy Group_11',
       'Healthcare Provider Taxonomy Group_12',
       'Healthcare Provider Taxonomy Group_13',
       'Healthcare Provider Taxonomy Group_14',
       'Healthcare Provider Taxonomy Group_15'])

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (24,317,318,319,320,321,322,323,324,325,326,327,328) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:52195 remote=tcp://127.0.0.1:52070>
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:52196 remote=tcp://127.0.0.1:52070>

In [35]:
NPPES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6277896 entries, 0 to 6277895
Data columns (total 19 columns):
NPI                                              int64
Entity Type Code                                 float64
Provider Business Mailing Address State Name     object
Provider Business Mailing Address Postal Code    object
Healthcare Provider Taxonomy Code_1              object
Healthcare Provider Taxonomy Group_2             object
Healthcare Provider Taxonomy Group_3             object
Healthcare Provider Taxonomy Group_4             object
Healthcare Provider Taxonomy Group_5             object
Healthcare Provider Taxonomy Group_6             object
Healthcare Provider Taxonomy Group_7             object
Healthcare Provider Taxonomy Group_8             object
Healthcare Provider Taxonomy Group_9             object
Healthcare Provider Taxonomy Group_10            object
Healthcare Provider Taxonomy Group_11            object
Healthcare Provider Taxonomy Group_12            object
Healthcare Provider Taxonomy Group_13            object
Healthcare Provider Taxonomy Group_14            object
Healthcare Provider Taxonomy Group_15            object
dtypes: float64(1), int64(1), object(17)
memory usage: 910.0+ MB

In [36]:
# NPI from object to int64 

NPPES.NPI = NPPES.NPI.astype('int64')

In [37]:
%time NPPES.to_pickle('NPPES_Data_Dissemination_February_2020/npidata_pfile_20050523-20200209.pkl')

CPU times: user 7.08 s, sys: 4.17 s, total: 11.3 s
Wall time: 12.7 s

In [38]:
%time NPPES = pd.read_pickle('NPPES_Data_Dissemination_February_2020/npidata_pfile_20050523-20200209.pkl')

CPU times: user 9.86 s, sys: 14.3 s, total: 24.2 s
Wall time: 28.2 s

In [39]:
NPPES.shape

(6277896, 19)

# POS

In [51]:
%time POS = pd.read_csv('POS_CLIA_CSV_DEC19/POS_CLIA_DEC19.csv')

<string>:2: DtypeWarning: Columns (7,8,24,40,41,42,43,46,49,52,61,81,98) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 9.15 s, sys: 1.38 s, total: 10.5 s
Wall time: 10.2 s

In [52]:
POS.head()

,PRVDR_CTGRY_SBTYP_CD,PRVDR_CTGRY_CD,CHOW_CNT,CHOW_DT,CITY_NAME,ACPTBL_POC_SW,CMPLNC_STUS_CD,SSA_CNTY_CD,CROSS_REF_PROVIDER_NUMBER,CRTFCTN_DT,...,LAB_SITE_CNT,PPMP_TEST_VOL_CNT,ADDTNL_FAC_NAME,RELATED_PROVIDER_NUMBER,SHR_LAB_SW,SHARED_LAB_XREF_NUMBER,FORM_1557_CRTFCT_SCHDL_CD,FORM_1557_CMPLNC_SCHDL_CD,FORM_1557_TEST_VOL_CNT,WVD_TEST_VOL_CNT
0,1,22,0,NaN,ALABASTER,N,NaN,580,NaN,19930223,...,0,0,NaN,NaN,N,NaN,NaN,NaN,0.0,21061
1,1,22,0,NaN,CULLMAN,N,NaN,210,NaN,19921224,...,0,0,NaN,NaN,N,NaN,NaN,NaN,0.0,440
2,1,22,0,NaN,CULLMAN,N,NaN,210,01D0300143,19921224,...,0,0,NaN,NaN,N,NaN,NaN,NaN,0.0,0
3,1,22,0,NaN,PELL CITY,N,B,570,NaN,20061213,...,0,0,NaN,NaN,N,NaN,NaN,NaN,0.0,12801
4,1,22,0,NaN,TALLADEGA,N,A,600,NaN,20090624,...,0,0,NaN,NaN,N,NaN,NaN,NaN,0.0,22637

In [ ]:
POS.shape

# Join hopteaming and NPI

In [18]:
# pickle hop, merge hop with NPI inner

In [19]:
hopteaming.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31127390 entries, 3 to 741287
Data columns (total 6 columns):
from_npi             int64
to_npi               int64
patient_count        int64
transaction_count    int64
average_day_wait     float64
std_day_wait         float64
dtypes: float64(2), int64(4)
memory usage: 1.6 GB

In [20]:
# %time hopteaming.to_pickle('DocGraph_Hop_Teaming_2017_Non_Commercial/DocGraph_Hop_Teaming_2017.pkl')

In [21]:
hopteaming = pd.read_pickle('DocGraph_Hop_Teaming_2017_Non_Commercial/DocGraph_Hop_Teaming_2017.pkl')

In [22]:
hopteaming.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31127390 entries, 3 to 741287
Data columns (total 6 columns):
from_npi             int64
to_npi               int64
patient_count        int64
transaction_count    int64
average_day_wait     float64
std_day_wait         float64
dtypes: float64(2), int64(4)
memory usage: 1.6 GB

I wonder if the reason there's no change in the size is because the file from before is still the pickle file? If not, why is there no change in size?

In [40]:
%time hop_NPI = pd.merge(left = hopteaming, right = NPPES, how = 'inner', left_on = 'from_npi', right_on = 'NPI')

CPU times: user 25.8 s, sys: 25.1 s, total: 50.9 s
Wall time: 1min 5s

In [42]:
hop_NPI.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait,NPI,Entity Type Code,Provider Business Mailing Address State Name,Provider Business Mailing Address Postal Code,...,Healthcare Provider Taxonomy Group_6,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15
0,1033142146,1000000004,491,535,10.232,36.558,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1033142146,1003112558,46,62,38.371,47.703,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1033142146,1003810375,71,152,27.684,38.834,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1033142146,1003847591,134,141,8.879,36.903,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1033142146,1003883430,54,63,32.286,55.826,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
taxon = pd.read_pickle('taxonomy.pkl')

In [28]:


# Merge hop_NPI with taxon

In [43]:
%time hop_NPI_taxon = pd.merge(left = hop_NPI, right = taxon, how = 'inner', left_on = 'Healthcare Provider Taxonomy Code_1', right_on = 'provider_taxonomy_code')

CPU times: user 31.3 s, sys: 53.6 s, total: 1min 24s
Wall time: 2min 3s

In [44]:
hop_NPI_taxon.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait,NPI,Entity Type Code,Provider Business Mailing Address State Name,Provider Business Mailing Address Postal Code,...,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,medicare_prov_supplier_desc,medicare_specialty_code,provider_taxonomy_code,provider_taxonomy_desc
0,1033142146,1000000004,491,535,10.232,36.558,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,Physician/Diagnostic Radiology,30,2085R0202X,"Allopathic & Osteopathic Physicians/Radiology,..."
1,1033142146,1003112558,46,62,38.371,47.703,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,Physician/Diagnostic Radiology,30,2085R0202X,"Allopathic & Osteopathic Physicians/Radiology,..."
2,1033142146,1003810375,71,152,27.684,38.834,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,Physician/Diagnostic Radiology,30,2085R0202X,"Allopathic & Osteopathic Physicians/Radiology,..."
3,1033142146,1003847591,134,141,8.879,36.903,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,Physician/Diagnostic Radiology,30,2085R0202X,"Allopathic & Osteopathic Physicians/Radiology,..."
4,1033142146,1003883430,54,63,32.286,55.826,1033142146,2.0,MO,6.30173e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,Physician/Diagnostic Radiology,30,2085R0202X,"Allopathic & Osteopathic Physicians/Radiology,..."

In [31]:
hopteaming.shape

(31127390, 6)

In [ ]:
# NPI_taxon = pd.merge(left = NPI, right = taxon, how = 'inner', left_on = 'Healthcare Provider Taxonomy Code_1', right_on = 'provider_taxonomy_code')

# Read in Ting Ting's pickle

In [45]:
tt_df = pd.read_pickle('additional_attributes_for_hop_teaming.pkl')

In [46]:
tt_df.head()

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,Taxonomy,zip5,provider_taxonomy_code,provider_taxonomy_desc,ZIP,CBSA
0,1679576722,NaN,WIEBE,DAVID,6.88482e+08,207X00000X,68848,NaN,NaN,68848,28260.0
1,1588667638,NaN,PILCHER,WILLIAM,3.22045e+08,207RC0000X,32204,NaN,NaN,32204,27260.0
2,1497758544,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,2.83045e+08,251G00000X,28304,251G00000X,"Agencies/Hospice Care, Community Based",28304,22180.0
3,1306849450,NaN,SMITSON,HAROLD,7.57513e+08,2085R0202X,75751,2085R0202X,"Allopathic & Osteopathic Physicians/Radiology,...",75751,37300.0
4,1215930367,NaN,GRESSOT,LAURENT,7.70901e+08,207RH0003X,77090,NaN,NaN,77090,26420.0

### 1. Which specialists see the most patients per CBSA?

### 2. Which hospitals are referred the most patients per CBSA? 

### 3. Which hospitals see the most patients by specialty by CBSA?

In [53]:
# Which hospitals do specialists typically refer patients to?

In [57]:
tt_df['Provider Organization Name (Legal Business Name)'].value_counts()

WALGREEN CO                          9806
WAL-MART STORES EAST LP              2968
WAL-MART STORES EAST, LP             1599
COSTCO WHOLESALE CORPORATION         1568
WALMART INC.                         1291
                                     ...
RALPH G NADER MD PA                     1
PEDIATRIC CARDIOLOGY OF VIRGINIA        1
SHANNON COON BSN                        1
LAURENTE MEDICAL ASSOCIATES, P.A.       1
CAVE CITY NURSING HOME, INC             1
Name: Provider Organization Name (Legal Business Name), Length: 1020478, dtype: int64

In [62]:
hop_NPI_taxon.provider_taxonomy_desc.value_counts()

Suppliers/Durable Medical Equipment & Medical Supplies                                                                                                   5090672
Hospitals/General Acute Care Hospital                                                                                                                    4574448
Allopathic & Osteopathic Physicians/Internal Medicine, Cardiovascular Disease                                                                            3469626
Allopathic & Osteopathic Physicians/Internal Medicine                                                                                                    3352962
Allopathic & Osteopathic Physicians/Radiology, Diagnostic Radiology                                                                                      3231536
                                                                                                                                                          ...
Allopathic & Osteopathic Physicians/ Psychiatry & Neurology, Sports Medicine                                                                                   2
Allopathic & Osteopathic Physicians/Psychiatry & Neurology/Respiratory, Developmental, Rehabilitative and Restorative Service , Brain Injury Medicine          2
Physician Assistants & Advanced Practice Nursing Providers/Clinical Nurse Specialist, Perinatal                                                                1
Respiratory, Developmental, Rehabilitative & Restorative Service Providers/Occupational Therapist, Human Factors                                               1
Physician Assistants & Advanced Practice Nursing Providers/Clinical Nurse Specialist, Chronic Care                                                             1
Name: provider_taxonomy_desc, Length: 402, dtype: int64