In [2]:
import dask.dataframe as dd
from dask.distributed import Client

In [3]:
import pandas as pd
from sodapy import Socrata

Create the Client. By default, it will use all of the available cores on your machine.

In [4]:
client = Client()

In [5]:
client

### Hop_Teaming

Click on the Dashboard link to monitor the status of the operation that you are doing.

In [100]:
hop_teaming = dd.read_csv('data/DocGraph_Hop_Teaming_2017_Non_Commercial/DocGraph_Hop_Teaming_2017.csv')

In [101]:
hop_teaming.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1003863580,1000000004,19,19,108.895,84.598
1,1043250400,1000000004,20,20,87.000,77.173
2,1033239413,1000000004,20,20,58.800,76.982
3,1033142146,1000000004,491,535,10.232,36.558
4,1013957562,1000000004,25,26,78.692,59.305

In [102]:
#vc = hop_teaming.groupby('to_npi').transaction_count.sum().compute()

In [103]:
#vc.to_frame().transaction_count.sort_values(ascending = False)

In [104]:
filtered = hop_teaming[(hop_teaming.transaction_count > 50) & (hop_teaming.average_day_wait < 50)]

In [105]:
filtered_col = filtered[['from_npi','to_npi','patient_count','transaction_count']]

In [ ]:
df=filtered_col.compute()

In [14]:
type(filtered_col)

dask.dataframe.core.DataFrame

In [15]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.head()
## doctors sending patient to others doctors # times (group by transaction) 
## total # patient got refered to those to_npi doctors (group by patient)

      from_npi      to_npi  patient_count  transaction_count
3   1033142146  1000000004            491                535
6   1013977990  1003000126            134                145
8   1013996669  1003000126             91                 92
10  1033102504  1003000126             52                 64
15  1003029620  1003000126            111                121

In [15]:
df.shape

(31127390, 4)

In [16]:
#df.to_csv('results/test.csv', index = False)

In [ ]:
df.to_pickle("results/hop_teaming.pkl")

### NPPES

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
nppes = pd.read_csv('data/NPPES_Data_Dissemination_February_2020/npidata_pfile_20050523_20200209.csv',nrows=10)

In [8]:
nppes.head(1)

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider Other Organization Name,Provider Other Organization Name Type Code,Provider Other Last Name,Provider Other First Name,Provider Other Middle Name,Provider Other Name Prefix Text,Provider Other Name Suffix Text,Provider Other Credential Text,Provider Other Last Name Type Code,Provider First Line Business Mailing Address,Provider Second Line Business Mailing Address,Provider Business Mailing Address City Name,Provider Business Mailing Address State Name,Provider Business Mailing Address Postal Code,Provider Business Mailing Address Country Code (If outside U.S.),Provider Business Mailing Address Telephone Number,Provider Business Mailing Address Fax Number,Provider First Line Business Practice Location Address,Provider Second Line Business Practice Location Address,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Postal Code,Provider Business Practice Location Address Country Code (If outside U.S.),Provider Business Practice Location Address Telephone Number,Provider Business Practice Location Address Fax Number,Provider Enumeration Date,Last Update Date,NPI Deactivation Reason Code,NPI Deactivation Date,NPI Reactivation Date,Provider Gender Code,Authorized Official Last Name,Authorized Official First Name,Authorized Official Middle Name,Authorized Official Title or Position,Authorized Official Telephone Number,Healthcare Provider Taxonomy Code_1,Provider License Number_1,Provider License Number State Code_1,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Taxonomy Code_2,Provider License Number_2,Provider License Number State Code_2,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Taxonomy Code_3,Provider License Number_3,Provider License Number State Code_3,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Taxonomy Code_4,Provider License Number_4,Provider License Number State Code_4,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Taxonomy Code_5,Provider License Number_5,Provider License Number State Code_5,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Taxonomy Code_6,Provider License Number_6,Provider License Number State Code_6,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Taxonomy Code_7,Provider License Number_7,Provider License Number State Code_7,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Taxonomy Code_8,Provider License Number_8,Provider License Number State Code_8,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Taxonomy Code_9,Provider License Number_9,Provider License Number State Code_9,Healthcare Provider Primary Taxonomy Switch_9,Healthcare Provider Taxonomy Code_10,Provider License Number_10,Provider License Number State Code_10,Healthcare Provider Primary Taxonomy Switch_10,Healthcare Provider Taxonomy Code_11,Provider License Number_11,Provider License Number State Code_11,Healthcare Provider Primary Taxonomy Switch_11,Healthcare Provider Taxonomy Code_12,Provider License Number_12,Provider License Number State Code_12,Healthcare Provider Primary Taxonomy Switch_12,Healthcare Provider Taxonomy Code_13,Provider License Number_13,Provider License Number State Code_13,Healthcare Provider Primary Taxonomy Switch_13,Healthcare Provider Taxonomy Code_14,Provider License Number_14,Provider License Number State Code_14,Healthcare Provider Primary Taxonomy Switch_14,Healthcare Provider Taxonomy Code_15,Provider License Number_15,Provider License Number State Code_15,Healthcare Provider Primary Taxonomy Switch_15,Other Provider Identifier_1,Other Provider Identifier Type Code_1,Other Provider Identifier State_1,Other Provider Identifier Issuer_1,Other Provider Identifier_2,Other Provider Identifier Type Code_2,Other Provider Identifier State_2,Other Provider Identifier Issuer_2,Other Provider Identifier_3,Other Provider Identifier Type Code_3,Other Provider Identifier State_3,Other Provider Identifier Issuer_3,Other Provider Identifier_4,Other Provider Identifier Type Code_4,Other Provider Identifier State_4,Other Provider Identifier Issuer_4,Other Provider Identifier_5,Other Provider Identifier Type Code_5,Other Provider Identifier State_5,Other Provider Identifier Issuer_5,Other Provider Identifier_6,Other Provider Identifier Type Code_6,Other Provider Identifier State_6,Other Provider Identifier Issuer_6,Other Provider Identifier_7,Other Provider Identifier Type Code_7,Other Provider Identifier State_7,Other Provider Identifier Issuer_7,Other Provider Identifier_8,Other Provider Identifier Type Code_8,Other Provider Identifier State_8,Other Provider Identifier Issuer_8,Other Provider Identifier_9,Other Provider Identifier Type Code_9,Other Provider Identifier State_9,Other Provider Identifier Issuer_9,Other Provider Identifier_10,Other Provider Identifier Type Code_10,Other Provider Identifier State_10,Other Provider Identifier Issuer_10,Other Provider Identifier_11,Other Provider Identifier Type Code_11,Other Provider Identifier State_11,Other Provider Identifier Issuer_11,Other Provider Identifier_12,Other Provider Identifier Type Code_12,Other Provider Identifier State_12,Other Provider Identifier Issuer_12,Other Provider Identifier_13,Other Provider Identifier Type Code_13,Other Provider Identifier State_13,Other Provider Identifier Issuer_13,Other Provider Identifier_14,Other Provider Identifier Type Code_14,Other Provider Identifier State_14,Other Provider Identifier Issuer_14,Other Provider Identifier_15,Other Provider Identifier Type Code_15,Other Provider Identifier State_15,Other Provider Identifier Issuer_15,Other Provider Identifier_16,Other Provider Identifier Type Code_16,Other Provider Identifier State_16,Other Provider Identifier Issuer_16,Other Provider Identifier_17,Other Provider Identifier Type Code_17,Other Provider Identifier State_17,Other Provider Identifier Issuer_17,Other Provider Identifier_18,Other Provider Identifier Type Code_18,Other Provider Identifier State_18,Other Provider Identifier Issuer_18,Other Provider Identifier_19,Other Provider Identifier Type Code_19,Other Provider Identifier State_19,Other Provider Identifier Issuer_19,Other Provider Identifier_20,Other Provider Identifier Type Code_20,Other Provider Identifier State_20,Other Provider Identifier Issuer_20,Other Provider Identifier_21,Other Provider Identifier Type Code_21,Other Provider Identifier State_21,Other Provider Identifier Issuer_21,Other Provider Identifier_22,Other Provider Identifier Type Code_22,Other Provider Identifier State_22,Other Provider Identifier Issuer_22,Other Provider Identifier_23,Other Provider Identifier Type Code_23,Other Provider Identifier State_23,Other Provider Identifier Issuer_23,Other Provider Identifier_24,Other Provider Identifier Type Code_24,Other Provider Identifier State_24,Other Provider Identifier Issuer_24,Other Provider Identifier_25,Other Provider Identifier Type Code_25,Other Provider Identifier State_25,Other Provider Identifier Issuer_25,Other Provider Identifier_26,Other Provider Identifier Type Code_26,Other Provider Identifier State_26,Other Provider Identifier Issuer_26,Other Provider Identifier_27,Other Provider Identifier Type Code_27,Other Provider Identifier State_27,Other Provider Identifier Issuer_27,Other Provider Identifier_28,Other Provider Identifier Type Code_28,Other Provider Identifier State_28,Other Provider Identifier Issuer_28,Other Provider Identifier_29,Other Provider Identifier Type Code_29,Other Provider Identifier State_29,Other Provider Identifier Issuer_29,Other Provider Identifier_30,Other Provider Identifier Type Code_30,Other Provider Identifier State_30,Other Provider Identifier Issuer_30,Other Provider Identifier_31,Other Provider Identifier Type Code_31,Other Provider Identifier State_31,Other Provider Identifier Issuer_31,Other Provider Identifier_32,Other Provider Identifier Type Code_32,Other Provider Identifier State_32,Other Provider Identifier Issuer_32,Other Provider Identifier_33,Other Provider Identifier Type Code_33,Other Provider Identifier State_33,Other Provider Identifier Issuer_33,Other Provider Identifier_34,Other Provider Identifier Type Code_34,Other Provider Identifier State_34,Other Provider Identifier Issuer_34,Other Provider Identifier_35,Other Provider Identifier Type Code_35,Other Provider Identifier State_35,Other Provider Identifier Issuer_35,Other Provider Identifier_36,Other Provider Identifier Type Code_36,Other Provider Identifier State_36,Other Provider Identifier Issuer_36,Other Provider Identifier_37,Other Provider Identifier Type Code_37,Other Provider Identifier State_37,Other Provider Identifier Issuer_37,Other Provider Identifier_38,Other Provider Identifier Type Code_38,Other Provider Identifier State_38,Other Provider Identifier Issuer_38,Other Provider Identifier_39,Other Provider Identifier Type Code_39,Other Provider Identifier State_39,Other Provider Identifier Issuer_39,Other Provider Identifier_40,Other Provider Identifier Type Code_40,Other Provider Identifier State_40,Other Provider Identifier Issuer_40,Other Provider Identifier_41,Other Provider Identifier Type Code_41,Other Provider Identifier State_41,Other Provider Identifier Issuer_41,Other Provider Identifier_42,Other Provider Identifier Type Code_42,Other Provider Identifier State_42,Other Provider Identifier Issuer_42,Other Provider Identifier_43,Other Provider Identifier Type Code_43,Other Provider Identifier State_43,Other Provider Identifier Issuer_43,Other Provider Identifier_44,Other Provider Identifier Type Code_44,Other Provider Identifier State_44,Other Provider Identifier Issuer_44,Other Provider Identifier_45,Other Provider Identifier Type Code_45,Other Provider Identifier State_45,Other Provider Identifier Issuer_45,Other Provider Identifier_46,Other Provider Identifier Type Code_46,Other Provider Identifier State_46,Other Provider Identifier Issuer_46,Other Provider Identifier_47,Other Provider Identifier Type Code_47,Other Provider Identifier State_47,Other Provider Identifier Issuer_47,Other Provider Identifier_48,Other Provider Identifier Type Code_48,Other Provider Identifier State_48,Other Provider Identifier Issuer_48,Other Provider Identifier_49,Other Provider Identifier Type Code_49,Other Provider Identifier State_49,Other Provider Identifier Issuer_49,Other Provider Identifier_50,Other Provider Identifier Type Code_50,Other Provider Identifier State_50,Other Provider Identifier Issuer_50,Is Sole Proprietor,Is Organization Subpart,Parent Organization LBN,Parent Organization TIN,Authorized Official Name Prefix Text,Authorized Official Name Suffix Text,Authorized Official Credential Text,Healthcare Provider Taxonomy Group_1,Healthcare Provider Taxonomy Group_2,Healthcare Provider Taxonomy Group_3,Healthcare Provider Taxonomy Group_4,Healthcare Provider Taxonomy Group_5,Healthcare Provider Taxonomy Group_6,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1679576722,1,NaN,NaN,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PO BOX 2168,NaN,KEARNEY,NE,688482168,US,3088652512,3.088653e+09,3500 CENTRAL AVE,NaN,KEARNEY,NE,688472944,US,3088652512,3.088653e+09,05/23/2005,07/08/2007,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,207X00000X,12637,NE,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645540,1.0,KS,FIRSTGUARD,46969,1.0,KS,BCBS,1553.0,1.0,NE,BCBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
nppes_col = pd.read_csv('data/NPPES_Data_Dissemination_February_2020/npidata_pfile_20050523_20200209.csv',usecols=['NPI',"Provider Organization Name (Legal Business Name)","Provider Last Name (Legal Name)","Provider First Name","Provider Business Mailing Address Postal Code",
"Healthcare Provider Taxonomy Code_1","Healthcare Provider Primary Taxonomy Switch_1",
"Healthcare Provider Taxonomy Code_2","Healthcare Provider Primary Taxonomy Switch_2",
"Healthcare Provider Taxonomy Code_3","Healthcare Provider Primary Taxonomy Switch_3",
"Healthcare Provider Taxonomy Code_4","Healthcare Provider Primary Taxonomy Switch_4",
"Healthcare Provider Taxonomy Code_5","Healthcare Provider Primary Taxonomy Switch_5",
"Healthcare Provider Taxonomy Code_6","Healthcare Provider Primary Taxonomy Switch_6",
"Healthcare Provider Taxonomy Code_7","Healthcare Provider Primary Taxonomy Switch_7",
"Healthcare Provider Taxonomy Code_8","Healthcare Provider Primary Taxonomy Switch_8",
"Healthcare Provider Taxonomy Code_9","Healthcare Provider Primary Taxonomy Switch_9",
"Healthcare Provider Taxonomy Code_10","Healthcare Provider Primary Taxonomy Switch_10",
"Healthcare Provider Taxonomy Code_11","Healthcare Provider Primary Taxonomy Switch_11",
"Healthcare Provider Taxonomy Code_12","Healthcare Provider Primary Taxonomy Switch_12",
"Healthcare Provider Taxonomy Code_13","Healthcare Provider Primary Taxonomy Switch_13",
"Healthcare Provider Taxonomy Code_14","Healthcare Provider Primary Taxonomy Switch_14",
"Healthcare Provider Taxonomy Code_15","Healthcare Provider Primary Taxonomy Switch_15"
])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (24,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
nppes_col.head(3)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,Healthcare Provider Taxonomy Code_1,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Taxonomy Code_2,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Taxonomy Code_3,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Taxonomy Code_4,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Taxonomy Code_5,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Taxonomy Code_6,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Taxonomy Code_7,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Primary Taxonomy Switch_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Primary Taxonomy Switch_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Primary Taxonomy Switch_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Primary Taxonomy Switch_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Primary Taxonomy Switch_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Primary Taxonomy Switch_14,Healthcare Provider Taxonomy Code_15,Healthcare Provider Primary Taxonomy Switch_15
0,1679576722,NaN,WIEBE,DAVID,6.88482e+08,207X00000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,NaN,PILCHER,WILLIAM,3.22045e+08,207RC0000X,N,207RC0000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1497758544,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,2.83045e+08,251G00000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
nppes_col["tax1"]=nppes_col["Healthcare Provider Taxonomy Code_1"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_1"]
nppes_col["tax2"]=nppes_col["Healthcare Provider Taxonomy Code_2"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_2"]
nppes_col["tax3"]=nppes_col["Healthcare Provider Taxonomy Code_3"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_3"]
nppes_col["tax4"]=nppes_col["Healthcare Provider Taxonomy Code_4"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_4"]
nppes_col["tax5"]=nppes_col["Healthcare Provider Taxonomy Code_5"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_5"]
nppes_col["tax6"]=nppes_col["Healthcare Provider Taxonomy Code_6"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_6"]
nppes_col["tax7"]=nppes_col["Healthcare Provider Taxonomy Code_7"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_7"]
nppes_col["tax8"]=nppes_col["Healthcare Provider Taxonomy Code_8"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_8"]
nppes_col["tax9"]=nppes_col["Healthcare Provider Taxonomy Code_9"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_9"]
nppes_col["tax10"]=nppes_col["Healthcare Provider Taxonomy Code_10"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_10"]
nppes_col["tax11"]=nppes_col["Healthcare Provider Taxonomy Code_11"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_11"]
nppes_col["tax12"]=nppes_col["Healthcare Provider Taxonomy Code_12"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_12"]
nppes_col["tax13"]=nppes_col["Healthcare Provider Taxonomy Code_13"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_13"]
nppes_col["tax14"]=nppes_col["Healthcare Provider Taxonomy Code_14"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_14"]
nppes_col["tax15"]=nppes_col["Healthcare Provider Taxonomy Code_15"]+nppes_col["Healthcare Provider Primary Taxonomy Switch_15"]

In [12]:
nppes_col.head(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,Healthcare Provider Taxonomy Code_1,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Taxonomy Code_2,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Taxonomy Code_3,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Taxonomy Code_4,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Taxonomy Code_5,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Taxonomy Code_6,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Taxonomy Code_7,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Primary Taxonomy Switch_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Primary Taxonomy Switch_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Primary Taxonomy Switch_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Primary Taxonomy Switch_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Primary Taxonomy Switch_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Primary Taxonomy Switch_14,Healthcare Provider Taxonomy Code_15,Healthcare Provider Primary Taxonomy Switch_15,tax1,tax2,tax3,tax4,tax5,tax6,tax7,tax8,tax9,tax10,tax11,tax12,tax13,tax14,tax15
0,1679576722,NaN,WIEBE,DAVID,6.88482e+08,207X00000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207X00000XY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,NaN,PILCHER,WILLIAM,3.22045e+08,207RC0000X,N,207RC0000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207RC0000XN,207RC0000XY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nppes_col= nppes_col.drop([
"Healthcare Provider Taxonomy Code_1","Healthcare Provider Primary Taxonomy Switch_1",
"Healthcare Provider Taxonomy Code_2","Healthcare Provider Primary Taxonomy Switch_2",
"Healthcare Provider Taxonomy Code_3","Healthcare Provider Primary Taxonomy Switch_3",
"Healthcare Provider Taxonomy Code_4","Healthcare Provider Primary Taxonomy Switch_4",
"Healthcare Provider Taxonomy Code_5","Healthcare Provider Primary Taxonomy Switch_5",
"Healthcare Provider Taxonomy Code_6","Healthcare Provider Primary Taxonomy Switch_6",
"Healthcare Provider Taxonomy Code_7","Healthcare Provider Primary Taxonomy Switch_7",
"Healthcare Provider Taxonomy Code_8","Healthcare Provider Primary Taxonomy Switch_8",
"Healthcare Provider Taxonomy Code_9","Healthcare Provider Primary Taxonomy Switch_9",
"Healthcare Provider Taxonomy Code_10","Healthcare Provider Primary Taxonomy Switch_10",
"Healthcare Provider Taxonomy Code_11","Healthcare Provider Primary Taxonomy Switch_11",
"Healthcare Provider Taxonomy Code_12","Healthcare Provider Primary Taxonomy Switch_12",
"Healthcare Provider Taxonomy Code_13","Healthcare Provider Primary Taxonomy Switch_13",
"Healthcare Provider Taxonomy Code_14","Healthcare Provider Primary Taxonomy Switch_14",
"Healthcare Provider Taxonomy Code_15","Healthcare Provider Primary Taxonomy Switch_15"
 ], axis=1)

In [15]:
nppes_col.head(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,tax1,tax2,tax3,tax4,tax5,tax6,tax7,tax8,tax9,tax10,tax11,tax12,tax13,tax14,tax15
0,1679576722,NaN,WIEBE,DAVID,6.88482e+08,207X00000XY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,NaN,PILCHER,WILLIAM,3.22045e+08,207RC0000XN,207RC0000XY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
nppes_col.loc[nppes_col['tax1'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax1'].str[:-1]
nppes_col.loc[nppes_col['tax2'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax2'].str[:-1]
nppes_col.loc[nppes_col['tax3'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax3'].str[:-1]
nppes_col.loc[nppes_col['tax4'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax4'].str[:-1]
nppes_col.loc[nppes_col['tax5'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax5'].str[:-1]
nppes_col.loc[nppes_col['tax6'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax6'].str[:-1]
nppes_col.loc[nppes_col['tax7'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax7'].str[:-1]
nppes_col.loc[nppes_col['tax8'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax8'].str[:-1]
nppes_col.loc[nppes_col['tax9'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax9'].str[:-1]
nppes_col.loc[nppes_col['tax10'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax10'].str[:-1]
nppes_col.loc[nppes_col['tax11'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax11'].str[:-1]
nppes_col.loc[nppes_col['tax12'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax12'].str[:-1]
nppes_col.loc[nppes_col['tax13'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax13'].str[:-1]
nppes_col.loc[nppes_col['tax14'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax14'].str[:-1]
nppes_col.loc[nppes_col['tax15'].str[-1:]  == 'Y', 'Taxonomy'] = nppes_col['tax15'].str[:-1]

In [17]:
nppes_col.head(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,tax1,tax2,tax3,tax4,tax5,tax6,tax7,tax8,tax9,tax10,tax11,tax12,tax13,tax14,tax15,Taxonomy
0,1679576722,NaN,WIEBE,DAVID,6.88482e+08,207X00000XY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207X00000X
1,1588667638,NaN,PILCHER,WILLIAM,3.22045e+08,207RC0000XN,207RC0000XY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207RC0000X

In [20]:
nppes_col= nppes_col.drop([
"tax1",
"tax2",
"tax3",
"tax4",
"tax5",
"tax6",
"tax7",
"tax8",
"tax9",
"tax10",
"tax11",
"tax12",
"tax13",
"tax14",
"tax15"], 
 axis=1)

In [22]:
nppes_col.tail(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,Taxonomy
6277894,1093347924,NaN,NIEZGODA,KATHARINE,190442223,363LF0000X
6277895,1902438831,NaN,VALLEJO,CATHERINE,973941482,374J00000X

In [25]:
nppes_col['zip5'] = nppes_col["Provider Business Mailing Address Postal Code"].astype(str)

In [30]:
nppes_col['zip5'] = nppes_col['zip5'].str[:5]

In [35]:
nppes_col.tail(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,Taxonomy,zip5
6277894,1093347924,NaN,NIEZGODA,KATHARINE,190442223,363LF0000X,19044
6277895,1902438831,NaN,VALLEJO,CATHERINE,973941482,374J00000X,97394

In [36]:
#nppes_col.to_pickle("results/nppes_cols.pkl")

### Taxonomy Code Set

In [24]:
import pandas as pd
from sodapy import Socrata
client = Socrata("data.cms.gov", None)
results = client.get("j75i-rw8y")
tax_df = pd.DataFrame.from_records(results)
tax_df= tax_df.drop([
    "medicare_prov_supplier_desc",
"medicare_specialty_code"], 
 axis=1)
tax_df.head(2)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

  provider_taxonomy_code                             provider_taxonomy_desc
0             208D00000X  Allopathic & Osteopathic Physicians/General Pr...
1             208600000X        Allopathic & Osteopathic Physicians/Surgery

In [52]:
tax_df.shape

(376, 2)

In [51]:
# sorting by first name 
tax_df.sort_values("provider_taxonomy_code", inplace = True) 
  
# dropping ALL duplicte values 
tax_df.drop_duplicates( keep = False, inplace = True)

In [69]:
tax_df.provider_taxonomy_code.value_counts()

207XS0114X    2
207L00000X    2
207XS0117X    2
207XX0801X    2
2084H0002X    2
207RH0002X    2
207RE0101X    2
2086S0105X    2
2084N0400X    2
2084P0800X    2
207XP3100X    2
2084A0401X    2
207LH0002X    2
224P00000X    2
207XS0106X    2
207QH0002X    2
207PH0002X    2
2082S0099X    2
2086X0206X    2
2086H0002X    2
2084N0402X    2
207XX0004X    2
207VH0002X    2
204E00000X    2
364SR0400X    1
291900000X    1
213ER0200X    1
207NS0135X    1
364SS0200X    1
363L00000X    1
             ..
207R00000X    1
363LP2300X    1
207VC0200X    1
3416L0300X    1
2083P0500X    1
207ZD0900X    1
2251E1200X    1
103TE1100X    1
2085R0001X    1
2080P0214X    1
2251C2600X    1
103TM1700X    1
235Z00000X    1
111NR0400X    1
207VB0002X    1
207PE0005X    1
207RT0003X    1
251K00000X    1
103TC1900X    1
207ZN0500X    1
207VX0000X    1
2086S0102X    1
207RB0002X    1
261QR1300X    1
207ZH0000X    1
225X00000X    1
2086S0120X    1
207RC0001X    1
207ZC0006X    1
364SP0200X    1
Name: provider_taxonomy_code, Length: 352, dtype: int64

In [82]:
tax_df= tax_df.groupby('provider_taxonomy_code').first().reset_index()

In [84]:
tax_df.head()

  provider_taxonomy_code                             provider_taxonomy_desc
0             103T00000X  Behavioral Health & Social Service Providers/P...
1             103TA0400X  Behavioral Health & Social Service Providers/P...
2             103TA0700X  Behavioral Health & Social Service Providers/P...
3             103TB0200X  Behavioral Health & Social Service Providers/P...
4             103TC1900X  Behavioral Health & Social Service Providers/P...

In [86]:
tax_df.provider_taxonomy_code.value_counts()

207ZP0101X    1
363LX0106X    1
111NI0900X    1
207W00000X    1
224P00000X    1
291900000X    1
364SR0400X    1
208600000X    1
2081P0301X    1
363L00000X    1
2251E1300X    1
207NS0135X    1
364SS0200X    1
213ER0200X    1
103TF0000X    1
213ES0103X    1
261QR0208X    1
2081P2900X    1
207VF0040X    1
111NI0013X    1
261QR0401X    1
2080T0002X    1
103TA0700X    1
261QR0200X    1
207Y00000X    1
207RI0008X    1
207NI0002X    1
261Q00000X    1
229N00000X    1
2088P0231X    1
             ..
3416L0300X    1
2083P0500X    1
207ZD0900X    1
2251E1200X    1
103TE1100X    1
364SP0809X    1
2084P0804X    1
207YX0007X    1
2085R0001X    1
207VB0002X    1
207RB0002X    1
207PE0005X    1
207RT0003X    1
2086X0206X    1
251K00000X    1
103TC1900X    1
207ZN0500X    1
207VX0000X    1
2086S0102X    1
261QR1300X    1
103TE1000X    1
207ZH0000X    1
2084H0002X    1
225X00000X    1
2086S0120X    1
207RC0001X    1
207ZC0006X    1
103TM1700X    1
2080P0214X    1
364SP0200X    1
Name: provider_taxonomy_code, Length: 352, dtype: int64

### CBSA

In [73]:
cbsa = pd.read_csv('data/CBSA.csv',usecols=['ZIP','CBSA'])

In [74]:
cbsa['ZIP']= cbsa['ZIP'].astype(str)

In [75]:
cbsa.tail(5)

         ZIP   CBSA
50749  99925  99999
50750  99926  99999
50751  99927  99999
50752  99928  28540
50753  99929  99999

In [76]:
# sorting
cbsa.sort_values("ZIP", inplace = True) 
  
# dropping ALL duplicte values 
cbsa.drop_duplicates( keep = False, inplace = True)

In [80]:
cbsa.ZIP.value_counts()

49877    1
7630     1
96010    1
29518    1
80513    1
46923    1
42259    1
19101    1
1420     1
38376    1
15671    1
30558    1
7758     1
70001    1
73135    1
39062    1
29164    1
20704    1
16825    1
5357     1
61546    1
15705    1
54828    1
7421     1
62028    1
63005    1
58783    1
2059     1
61770    1
70535    1
        ..
64431    1
62356    1
28714    1
3870     1
27856    1
65783    1
77094    1
67647    1
77585    1
98003    1
62536    1
85626    1
12824    1
33559    1
74577    1
44211    1
79530    1
61749    1
27252    1
12879    1
37048    1
49259    1
82327    1
3777     1
72832    1
11252    1
16256    1
72459    1
68957    1
24598    1
Name: ZIP, Length: 39457, dtype: int64

In [78]:
cbsa= cbsa.groupby('ZIP').first().reset_index()

In [79]:
cbsa.head()

     ZIP   CBSA
0  10001  35620
1  10002  35614
2  10003  35614
3  10004  35620
4  10005  35614

In [81]:
cbsa.shape

(39457, 2)

### Combined Data Set

In [94]:
df = pd.merge(nppes_col, tax_df, left_on='Taxonomy',right_on='provider_taxonomy_code', how='left')

In [97]:
df = pd.merge(df,cbsa,left_on='zip5',right_on='ZIP', how='left')

In [91]:
df = df.drop(['ZIP','provider_taxonomy_code'],axis =1)

In [92]:
df.tail(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Business Mailing Address Postal Code,Taxonomy,zip5,provider_taxonomy_desc,CBSA
6277894,1093347924,NaN,NIEZGODA,KATHARINE,190442223,363LF0000X,19044,Physician Assistants & Advanced Practice Nursi...,33874.0
6277895,1902438831,NaN,VALLEJO,CATHERINE,973941482,374J00000X,97394,NaN,35440.0

In [98]:
df.shape

(6277896, 11)

In [99]:
df.to_pickle("results/additional_attributes_for_hop_teaming.pkl")

### Analysis

In [1]:
import pandas as pd

In [3]:
attributes_for_npi = pd.read_pickle("results/additional_attributes_for_hop_teaming.pkl")

hop_teaming = pd.read_pickle("results/hop_teaming.pkl")

In [9]:
hop_teaming.head(3)

     from_npi      to_npi  patient_count  transaction_count
3  1033142146  1000000004            491                535
6  1013977990  1003000126            134                145
8  1013996669  1003000126             91                 92

In [10]:
hop_teaming.shape

(31127390, 4)

In [155]:
attributes_for_npi_lite = attributes_for_npi[['NPI','Provider Organization Name (Legal Business Name)','Provider Last Name (Legal Name)','CBSA','provider_taxonomy_desc']]

attributes_for_npi_lite['provider_taxonomy_desc'] = attributes_for_npi_lite['provider_taxonomy_desc'].fillna('None');

attributes_for_npi_lite=attributes_for_npi_lite.sort_values(['CBSA', 'provider_taxonomy_desc'])

attributes_for_npi_lite['CBSA']=attributes_for_npi_lite['CBSA'].fillna(0)

attributes_for_npi_lite['CBSA']=attributes_for_npi_lite['CBSA'].round(0).astype(int)

attributes_for_npi_lite.dtypes

In [162]:
attributes_for_npi_lite.head(2)

,NPI,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),CBSA,provider_taxonomy_desc
306855,1528039765,NaN,CIHAK,10100,Allopathic & Osteopathic Physicians/ Otolaryng...
308763,1467423616,NaN,WEEKLY,10100,Allopathic & Osteopathic Physicians/ Otolaryng...

# Choose CBSA and Specialty

In [37]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [170]:
@interact_manual(cbsa=attributes_for_npi_lite['CBSA'].unique(),desc=attributes_for_npi_lite['provider_taxonomy_desc'].unique())
def h(cbsa=[],desc=[]):
    selection_data=attributes_for_npi_lite[(attributes_for_npi_lite['CBSA']==cbsa) & (attributes_for_npi_lite['provider_taxonomy_desc']==desc)]
    selection = selection_data.merge(hop_teaming,left_on= 'NPI',right_on ='from_npi',how = 'left')
    
    results = pd.DataFrame(selection.groupby(['to_npi'])['patient_count'].sum().sort_values(ascending=False)).reset_index()
    results['to_npi'] = results['to_npi'].round(0).astype(int).astype(str)
    results['patient_count'] = results['patient_count'].round(0).astype(int)
    results.to_csv('results.csv')
    return results

interactive(children=(Dropdown(description='cbsa', options=(10100, 10140, 10180, 10220, 10300, 10380, 10420, 1

#### The above table tells us: In the selected CBSA, the selected specialists sent x number of patients to the above NPIs (doctor/hospital)